# GitLab 토큰 (사내 레지스트리 접근용)
GITLAB_TOKEN=<팀_리더에게_요청>

# Docker Hub 정보
DOCKER_HUB_USER=<본인_Docker_Hub_사용자명>
IMAGE_NAME=robot-simulator-front

# 서버 정보
SERVER_IP=<서버_IP_주소>
SSH_PORT=<SSH_포트>
SSH_PASSWORD=<SSH_비밀번호>